.backgoundImage {
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: -1;
}

.backgoundImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .header {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 640px) {
  .header {
    margin: 0;
  }
}
