.aside {
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  position: sticky;
  top: 80px;
}

.tags {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
  .aside {
    width: 270px;
  }
}
