.main {
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
  border: 1px solid var(--dark-gray);
  border-radius: 15px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  margin-bottom: 80px;
  padding-bottom: 60px;
}

.flag {
  width: 260px;
  border-radius: 15px;
  margin-top: -50px;
}

.groupName {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.groupName h1 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: var(--font-size-lg);
  color: var(--light-gray);
  font-weight: 700;
}

.groupName span {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: var(--font-size-sm);
  color: var(--light-gray);
  font-weight: 500;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.info {
  width: 100%;
}

.footer {
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.footer_title {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--gray);
}

.border_countries {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  overflow: hidden;
}

.country {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.border_flag {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.border_text {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: var(--font-size-xs);
  font-weight: 500;
  color: var(--light-gray);
}