.backgoundImage {
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: -1;
}

.backgoundImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  margin: 0 auto;
  width: 100%;
  border: 1px solid var(--dark-gray);
  border-radius: 10px;
  padding: 25px 25px;
  background-color: var(--black);
}

.content__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 10px;
}

.total__countries {
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 600;
  color: var(--gray);
}

.content__body {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.table_wrapper {
  width: 100%;
}